<a href="https://colab.research.google.com/github/tedkoo0212/Tensorflow/blob/main/CNN_Flatten_Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **< Flatten Layer를 활용한 이미지 학습 >**

### [method 1] Using reshape method

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
# with reshape

In [4]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 표의 형태로 나타내주고
독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [5]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [6]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.6550 - accuracy: 0.8574
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5410 - accuracy: 0.9171
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4455 - accuracy: 0.9305
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4048 - accuracy: 0.9405
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3924 - accuracy: 0.9433
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3979 - accuracy: 0.9451
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3818 - accuracy: 0.9477
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3554 - accuracy: 0.9493
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3622 - accuracy: 0.9508
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3429 - accuracy: 0.9538

In [7]:
# 모델을 이용합니다.
model.predict(독립[0:5])

array([[0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 3.8807373e-16,
        0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 2.2680914e-16, 5.1159681e-29,
        0.0000000e+00, 6.3841576e-25, 4.0995105e-19, 0.0000000e+00,
        7.3209006e-24, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        0.0000000e+00, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.2993643e-08,
        2.2219184e-03, 3.7427169e-06, 0.0000000e+00, 1.1926901e-06,
        2.8244930e-14, 9.9777299e-01]], dtype=float32)

In [9]:
# 모델을 이용합니다.(2) (깔끔한 표)
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [16]:
pred = model.predict(독립[0:100])
pd.DataFrame(pred).round(3)

      0    1    2    3      4    5    6    7    8      9
0   0.0  0.0  0.0  0.0  0.000  1.0  0.0  0.0  0.0  0.000
1   1.0  0.0  0.0  0.0  0.000  0.0  0.0  0.0  0.0  0.000
2   0.0  0.0  0.0  0.0  1.000  0.0  0.0  0.0  0.0  0.000
3   0.0  1.0  0.0  0.0  0.000  0.0  0.0  0.0  0.0  0.000
4   0.0  0.0  0.0  0.0  0.002  0.0  0.0  0.0  0.0  0.998
..  ...  ...  ...  ...    ...  ...  ...  ...  ...    ...
95  1.0  0.0  0.0  0.0  0.000  0.0  0.0  0.0  0.0  0.000
96  0.0  0.0  0.0  0.0  0.000  0.0  0.0  1.0  0.0  0.000
97  0.0  0.0  0.0  0.0  0.000  0.0  0.0  0.0  1.0  0.000
98  0.0  0.0  0.0  1.0  0.000  0.0  0.0  0.0  0.0  0.000
99  0.0  1.0  0.0  0.0  0.000  0.0  0.0  0.0  0.0  0.000

[100 rows x 10 columns]

In [17]:
# (5,3) : 0.002
# (5,9) : 0.998
# 이 미세한 차이를 인간이 보고 '아 저것때문에 내가 만든 Neural Network Model이 헷갈렸구나?' 를 판단 가능한지?
# 0.5, 0.5일때, 과연 인간도 헷갈릴까?
# 결국 확률 1.0을 가지고 땅따먹기 하는데, ratio라던지, top 2 의 비율을 통해서 어느정도 certainty를 guarantee 할 수 있을까?

### [method 2] Using Flatten Layer

In [10]:
# reshape 쓰지 않고, flatten layer 사용해서 modeling

In [18]:
 # 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 표의 형태로 나타내주고
# 독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [23]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28,28])
H = tf.keras.layers.Flatten()(X) # pixel을 한줄로 편다.
H = tf.keras.layers.Dense(84, activation='swish')(H) #84개의 제일 좋은 특징을 찾았다. 왜? (아래)
Y = tf.keras.layers.Dense(10, activation='softmax')(H) #10개의 분류를 만들기 위해서 !
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [20]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 2.9553 - accuracy: 0.8536
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5485 - accuracy: 0.9168
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4657 - accuracy: 0.9322
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4038 - accuracy: 0.9416
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3825 - accuracy: 0.9453
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3735 - accuracy: 0.9483
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3579 - accuracy: 0.9525
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3373 - accuracy: 0.9520
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3403 - accuracy: 0.9537
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3429 - accuracy: 0.9534

In [22]:
# 이미지 data -> 표 형태 data 
# 표를 학습하는 model 속에 넣고 fit(학습)을 시킨 것이다.
# 특징 자동 추출기