<a href="https://colab.research.google.com/github/tedkoo0212/Tensorflow/blob/main/CNN_Conv2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

특정한 패턴의 특징이 어디서 나타나는지를 확인하는 도구

" Convolution " = " 합성 신경망 "

In [1]:
import tensorflow as tf
import pandas as pd

In [4]:
# 1 prepare the dataset
(IV, DV), _ = tf.keras.datasets.mnist.load_data()
print(IV.shape, DV.shape)

IV = IV.reshape(60000, 28, 28, 1) # Convolution Layer : image has to be 3D format.
DV = pd.get_dummies(DV) # one-hot encoding
print(IV.shape, DV.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [6]:
# 2 Modeling
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [9]:
# 3 Model Fitting
model.fit(IV, DV, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0163 - accuracy: 0.9967
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0152 - accuracy: 0.9968
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0131 - accuracy: 0.9974
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0121 - accuracy: 0.9975
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0119 - accuracy: 0.9974
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0144 - accuracy: 0.9972
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0131 - accuracy: 0.9973
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0136 - accuracy: 0.9975
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0158 - accuracy: 0.9973
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0132 - accuracy: 0.9973

In [14]:
 # 4 Test model.
 pred = model.predict(IV[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [15]:
DV[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [16]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_1 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_2 (Dense)              (None, 84)                201684
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# parameter no. from dense_2 (Dense) layer has too many parameters.(200K)
# A technique to solve this comes after this colab page.

# 20*20*6 =>(Flatten) => 2400
# We want 10 results : (None, 10)